@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-bold: #262626;
    --foreground-medium: #757575;
    --foreground-light: #bfbfbf;
    /* --foreground-lightest: #E6E6E6; */

    --background-boldest: #333333;
    --background-bold: #9e9e9e;
    --background-medium: #d9d9d9;
    --background-light: #f6f7f8;
    --background-lightest: #ffffff;
  }

  .dark {
    --foreground-bold: #e6e6e6;
    --foreground-medium: #9e9e9e;
    --foreground-light: #646464;
    --foreground-lightest: #333333;

    --background-boldest: #e6e6e6;
    --background-bold: #757575;
    --background-medium: #262626;
    --background-light: #1a1a1a;
    --background-lightest: #121212;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
