@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    --min-row-height: 200px;

    --row-height: 48px;
    --title-height: 35px;
    --global-padding: 1.3rem;

    --font-size-sm: 0.75rem;
    --font-size-base: 0.875rem;
    --font-size-lg: 2.25rem;
    --font-size-xl: 3.375rem;

    --line-height-sm: 1rem;
    --line-height-base: 1.25rem;
    --line-height-lg: 2.5rem;
    --line-height-xl: 59.4px;

    --foreground-bold: #1a1a1a;
    --foreground-medium: #646464;
    --foreground-light: #9e9e9e;
    --foreground-lightest: #bfbfbf;

    --background-boldest: #333333;
    --background-bold: #9e9e9e;
    --background-medium: #d9d9d9;
    --background-light: #f6f7f8;
    --background-lightest: #ffffff;

    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .dark {
    --foreground-bold: #ecedee;
    --foreground-medium: #bfbfbf;
    --foreground-light: #757575;
    --foreground-lightest: #4c4c4c;

    --background-boldest: #e6e6e6;
    --background-bold: #646464;
    --background-medium: #333333;
    --background-light: #262626;
    --background-lightest: #121212;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .debug {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(255, 0, 0, 0.5);
  }
}
